.section_wrapper {
  width: 100%;
  padding: 2rem 0;
  background: #ffffff;
  border-bottom: 1px solid;

  h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }

  p {
    text-align: center;
    margin: 0 .5rem;
  }
} 

//first_view---------------------------------------------------------------------- 
.first_view {
  position: relative;
  height: 100vh;
  width: 100%;

  img {
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
    opacity: 0.9;
  }

  h1 {
    position: absolute;
    top:  30%;
    bottom:  0;
    left:  0;
    right:  0;
    text-align: center;
    font-size: 2rem;
    color: #fff;
    text-shadow: 5px 5px 3px #212121;
  }

  p {
    @extend h1;
    top:  65%;
    font-size: 1rem;
  }
}

//Vison---------------------------------------------------------------------- 
.vision {
  height: 100vh;
  position: relative;
  &_img {
    position: absolute;
    bottom:  0;
    left:  0;
    right:  0;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
  }

  h3 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }
}

//Members---------------------------------------------------------------------- 
.members_list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 2rem;
  margin-bottom: 3rem;
  width: 80%;
  .img {
    width: 80%;
    margin-bottom: 1rem;
    border-radius: 50%;
    box-shadow: 5px 5px 13px #d2d2d2;
  }
  h3 {
    width: 100%;
    border-bottom: 1px solid;
  }
  span {
    font-size: 0.95rem;
    color: gray;
  }
  div {
    font-size: .95rem;
  }
}

.swiper-button-prev{
  background-image: none !important;
  top: unset;
  bottom: 0;
  width: unset;
  left: 20%;
}
.swiper-button-next {
  background-image: none !important;
  top: unset;
  bottom: 0;
  width: unset;
  right: 20%;
}

.btn_prev, .btn_next {
  font-size: 2rem;
}

//Services---------------------------------------------------------------------- 
.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  span {
    font-size: 1.5rem;
    font-weight: bold;
    display: inline-block;
    margin: 0.5rem 0;
  }
  .show_btn {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    width: 90%;
    max-width: 400px;
    margin: 2rem 1rem;
    padding: 1rem 0;
    border: 1px solid;
    border-radius: 1rem;
  }
}



@media screen and (min-width: 416px) {
  .profile {
    padding: 0 1rem;
  }
}

@media screen and (min-width: 896px) {
  .profile {
    padding: 0 2rem;
  }

  .swiper-button-prev{
    bottom: 50%;
    left: 10px;
  }
  .swiper-button-next {
    bottom: 50%;
    right: 10px;
  }
}




