article {
  height: 300px;
  position: relative;
  img {
    display: block;
    object-fit: cover;
    width: 100%;
    max-width: 700px;
    height: 100%;
    margin: 0 auto;
  }
  p {
    position: absolute;
    top: 0;
    left: 0;
    // text-align: center;
  }

}